
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
body{
    background-color: rgba(0, 0, 0, 0.734);
    background-size: cover;
    font-family: 'Gruppo';
}
hr{
  width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    .web--name{
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: rgb(50, 50, 250);
      width: 100%;
      .logo{
        height: 2.5rem;
        width: 2.5rem;
        background-image: url('./images/logo.png');
        background-size: cover;
        margin-left: 1rem;
      }
      .title{
        color: #fff;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(50, 50, 250),
        0 0 82px rgb(50, 50, 250),
        0 0 92px rgb(50, 50, 250),
        0 0 102px rgb(50, 50, 250),
        0 0 151px rgb(50, 50, 250);
        display: flex;
        flex-direction: row;
        .beta__container{
          display: flex;
          flex-direction: column;
          align-items: center;
          .beta{
            font-size: .4rem;
            margin-left: .3rem;
          }
        }
      }
    }
    .search{
        font-size: 1rem;
        border-radius: 20px;
        margin-top: 1rem;
    }
}
#mainMenu{
  position: relative;
  float: left;
  transition: width 0.1s ease-out;
  background-color: rgb(50, 50, 250);
  border-radius: 5px;
  height: 100vh;
  ul{
    padding: 0;
    margin: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    li{
      position: absolute;
      list-style: none;
      padding: 1rem;
      top: 100%;
      width: 100%;
      transition: top 0s 0.3s linear;
      color: white;
      font-size: 1.5rem;
      .rated, .nowplaying, .upcoming{
        color: white;
        text-decoration: none;
      }  
    }
    .login__button, .logout__button{
      background: none;
      border: none;
      font-size: 1.5rem;
      font-family: 'Gruppo';
      color: white;
      margin-left: -.2rem;
    }
    li:hover, .login__button:hover, .logout__button:hover{
      color: #fff;
      color: #fff;
      text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(50, 50, 250),
      0 0 82px rgb(50, 50, 250),
      0 0 92px rgb(50, 50, 250),
      0 0 102px rgb(50, 50, 250),
      0 0 151px rgb(50, 50, 250);  
      animation: flicker 1s infinite alternate;
    }
  }
  &.open{
    width: 250px;
    transition: width 0.1s ease-out;
    ul {
      top: 0;
      opacity: 1;
    }
    li {
      &:nth-child(1){
        top: 0px;
      }
      &:nth-child(2){
        top: 4rem;
      }
      &:nth-child(3){
        top: 8rem;
      }
      &:nth-child(4){
        top: 12rem;
      }
    }
  }
}
.navbar{
  background-color: rgb(50, 50, 250);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -1rem;
  .navbar__options{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style-type: none;
      font-size: 1rem;
      align-items: center;
      .hamburger{
        display: inline-block;
        cursor: pointer;
        .bar1, .bar2, .bar3 {
          width: 35px;
          height: 5px;
          background-color: white;
          margin: 6px 0;
          transition: 0.4s;
          border-radius: 10px;
        }
      }
      .change .bar1{
        transform: translate(0, 11px) rotate(-45deg);
      }
      .change .bar2{
        opacity: 0;
      }
      .change .bar3{
        transform: translate(0, -11px) rotate(45deg);
      }
      .change--search {
        visibility: hidden;
      }     
      .search{
        font-size: 2rem;
      }
  }
  .years{
      font-size: 1.5rem;
  }
}
.button--container{
  .button{
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background: none;
    color: white;
  }
  .page__number{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }
  .button:active{
    color: rgb(50, 50, 250);
  }
}
.input--movie--container{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-evenly;
    .input__field{
      border-radius: 10px;
      width: 100%;
      height: 3rem;
      font-size: 2rem;
      border: none;
      margin-right: 1rem;
      font-family: 'Gruppo';
    }
    .input__field:hover{
      border: 2px solid lightblue;
    }
    .search__button{
      border-radius: 10px;
      font-size: 2rem;
      background-color: rgb(50, 50, 250);
      font-family: 'Gruppo';
      color: white;
    }
    .search__button:hover{
      color: #fff;
      text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;   
      animation: flicker 1s infinite alternate;
      font-size: 2rem;
    }
}
.modal--background {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: -79.5rem;
    background-color: rgba(10, 10, 10, 0.86);
    z-index: 1;
    .modal--card {
      margin: 0 auto;
      display: flex;
      margin-top: 20rem;
      width: 54rem;
      height: 47rem;
      background-color: lightgray;
      border-radius: 5px;
      overflow-y: auto;
      padding: .5rem;
      flex-wrap: wrap;
      justify-content: center;
        .modal__result{
          margin-bottom: 1rem;
          display: flex;
          justify-content: center;
          margin-right: 1rem;
          .modal__button{
            border: none;
            border-radius: 5px;
            background-color: white;
            font-size: 1rem;
            text-decoration: none;
            height: 22rem;
            .movie__title{
              display: flex;
              justify-content: center;
              width: 12rem;
              padding: .5rem;
              color: black
            }
            .poster__movie__modal{
              width: 100%;
              height: 100%;
              border-radius: 5px;
              background-repeat: no-repeat;
              background-size: contain;   
              margin-bottom: 1rem;         
            }
          }
          .modal__button:hover .title{
            background-color:rgb(50, 50, 250);
            animation: flicker 1s infinite alternate;
            color: white;
            border-radius: 10px;
          }
      }
    }
}
.page__number{
  color: white;
  font-weight: bold;
}
.popular--movies--section{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: black;
  .popular__movies__title{
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
  }
  .movie__title{
    font-size: 2rem;
    height: 2rem;
    color: black;
  }
  .popular--movies--container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;      
    .popular__movie__card{
      display: flex;
      flex-direction: column;
      align-items: center;
      .movie__card__shown{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        .popular__movie__image{
          margin: 1rem;
          background-position: center;
          border-radius: 10px;
          height: 18rem;
          width: 12rem;
          background-repeat: "no-repeat";
          background-size: "cover";
          .vote__average{
            color: black;
            height: 1rem;
            background-color: lightgray;
            border-radius: 5px;
            padding: .3rem;
          }
        }
        .popular__movie__title{
          text-align: center;
          font-weight: bold;  
          width: 10rem;
          background-color: white;
          border-radius: 10px;
          padding: .5rem;
          color: black;
        }
      }
      .movie__card__shown:hover .popular__movie__title{
        background-color: rgb(50, 50, 250);
        color: #fff;
          text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px #0fa,
          0 0 82px #0fa,
          0 0 92px #0fa,
          0 0 102px #0fa,
          0 0 151px #0fa;   
        animation: flicker 1s infinite alternate;
      }
    }
  }
}
.movie--selected--section{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  .movie--data--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 90%;
    .movie__poster{
      border-radius: 10px;
      margin-bottom: 2rem;
    }
    .synopsis{
      padding: 2rem;
    }
    .cast{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 100%;
      align-items: center;
      .actors{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
         .actor__card{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
          margin: 1rem;
          text-decoration: none;
          .actor__picture{
            height: 12rem;
            width: 10rem;
            border-radius: 10px;
          }
          .actor__name__container{
            display: flex;
            justify-content: center;
            .actor__name{
              font-size: 1rem;
              color: black;
            }
          }
        }
        .viewmore__container{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .viewmore{
            font-size: 1rem;
            text-decoration: none;
            border: none;
            background-color: white;
            height: 2rem;
            font-family: 'Gruppo';
          }
        }
      }
    }
    .director{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      .director__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-decoration: none;
        .director__picture{
            height: 12rem;
            width: 10rem;
            border-radius: 10px;
        }
        .director__name{
          font-size: 1rem;
          color: black;
        }
      }
    }
    .movie__date, .votes, .rating, .user__vote{
      padding: 1rem;
      margin-bottom: 2rem;
    }
    .rating{
      font-size: 2.5rem;
    }
    .emoji__rating{
      margin-left: 2rem;
    }
    .user__vote{
      font-size: 2rem;
    }
    .trailer__container{
      display: flex;
      margin-bottom: 2rem;
      .trailer{
        margin-top: 2rem;
        border-radius: 10px;
        width: 40rem;
        height: 22rem;
      }
    }
    .trailer__availability{
      margin-top: 2rem;
      margin-bottom: 2rem;
      border-radius: 10px;
      color: white;
     }
  }
}
.rating--bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  .star {
    margin: .5rem;
    font-size: 3rem;
    color: whitesmoke;
    padding: .5rem;
    .full {
      &:before {
        font-family: 'Font Awesome 5 Free';
        display: inline-block;
        content: "\f005";
        position: relative;
        float: right;
        z-index: 2;
      }
    }
  }
  .star:hover {
    background-image: radial-gradient(yellow, rgb(4, 195, 4));
    border-radius: 100px;
  }
  .star:active {
      color: yellow;
  }
}
.person--section{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  .person--data--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 90%;
    .person__name{
      text-align: center;
    }
    .person__picture{
      border-radius: 10px;
      margin-bottom: 2rem;
    }
    .birth__place, .birthday{
      text-align: center;
      margin-bottom: 1rem;
    }
    .biography{
      text-align: center;
      padding: 1rem;
    }
  }
}
.pulse {
  animation: pulse-animation 2s;
}
$animationSpeed: 30s;
// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 10))}
}
// Styling
.slider{
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 6rem;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 80%;
	margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 10px;
	&::before,
	&::after{
		content: "";
		height: 6rem;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	&::after{
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}
	&::before{
		left: 0;
		top: 0;
	}
	.slide-track{
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 20);
	}
}
.navbar--animation{
  --b: 1rem;   /* the thickness of the line */
  --c: rgb(239, 18, 18); /* the color */  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.navbar--animation:hover {
  --_p: 100%;
  --_s: .3s;
}
footer{
    color: black;
    font-size: .5rem;
    background-image: radial-gradient(white, rgb(5, 5, 248));
    text-align: center;
    padding: 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .footer__link{
      text-decoration: none;
    }
    .go--container{
        color: #ED1D24;
    }
    .credit{
      margin-left: 1rem;
    }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(4, 195, 4);
    border-radius: 100px;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    border-radius: 100px;
  }
}
input[type="search"]::-webkit-search-cancel-button {  //styling clear button input field
  /* Remove default */
  -webkit-appearance: none;
  /*Your new styles */
  height: 3rem;
  width: 3rem;
  background-image: url('./images/x-icon.png');
  background-size: 'contain';
}
.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}
h1 {
  font-size: 2rem;    
}
.drop-in {
  animation: drop-in 1s ease 200ms backwards;
 }
@keyframes flicker{  //animation neon logo
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(50, 50, 250),
    0 0 82px rgb(50, 50, 250),
    0 0 92px rgb(50, 50, 250),
    0 0 102px rgb(50, 50, 250),
    0 0 151px rgb(50, 50, 250);
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

@keyframes drop-in {
  from {
   opacity: 0;
   transform: translateY(-100px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 }
 @keyframes square-in-hesitate {
  0% {
    clip-path: inset(100% 100% 100% 100%);
  }
  40% {
    clip-path: inset(33% 33% 33% 33%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
.square-in{
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-hesitate both;
}

@keyframes diamond-in-center {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  to {
    clip-path: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);
  }
}
.diamond{
  animation: 4s cubic-bezier(.25, 1, .30, 1) diamond-in-center both;
}
@keyframes wipe-cinematic-in {
  from{
    clip-path: inset(100% 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.wipe-in {
  animation: 1.5s cubic-bezier(.25, 1, .30, 1) wipe-cinematic-in both;
}
@media(max-width: 700px){
  .movie--selected--section{
    .movie--data--container{
      .trailer__container{
        .trailer{
          width: 28rem;
          height: 16rem;
        }
      }
    }
  }
}
@media(max-width: 500px){
  .header{
    .web--name{
      .logo{
        width: 1.5rem;
        height: 1.5rem;
      }
      .title{
        font-size: 1rem;
      }
    }
  }
  .popular--movies--section{
    .popular__movies__title{
      padding: 0.1rem;
      h1{
        font-size: 1.5rem;
      }
    }
    .popular--movies--container{
      .popular__movie__card{
        .movie__card__shown{
          .popular__movie__image{
            height: 15rem;
            width: 9rem;
            background-size: cover;
            background-repeat: no-repeat;
          }
          .popular__movie__title{
            width: 8rem;
            padding: .1rem;
          }
        }
      }
    }
  }
  .movie--selected--section{
    .movie--data--container{
      h1{
        font-size: 1.5rem;
      }
      .movie__poster{
        height: 20rem;
      }
      .cast{
        .actors{
          .actor__card{
            .actor__picture{
              height: 8rem;
              width: 6rem;
            }
          }
        }
      }
      .director{
        .director__card{
          .director__picture{
            height: 8rem;
            width: 6rem;
          }
        }
      }
      .rating{
        font-size: 1.5rem;
      }
      .user__vote{
        font-size: 1.5rem;
      }
      .trailer__container{
        .trailer{
          width: 20rem;
          height: 12rem;
        }
      }
    }
  }
  .person--section{
    .person--data--container{
      .person__picture{
        height: 18rem;
        width: 12rem;
      }
    }
  }
  .rating--bar{
    .star{
      font-size: 1.5rem;
      margin-right: 0rem;
      padding: 0rem;
    }
  }
  .input--movie--container{
    .search__button{
      font-size: 1rem;
    }
  }
  #mainMenu{
    ul{
      .login__button, .logout__button{
        margin-left: 0rem;
      }
    }
  }
  .modal--background{
    .modal--card{
      width: 26rem;
      height: 23rem;
      .modal__result{
        .modal__button{
          height: 18rem;
          width: 10rem;
          margin-bottom: 1rem;
          .poster__movie__modal{
            height: 100%;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .movie__title{
            width: 9rem;
          }
        }
       
      }
    }
  }
}
@media(max-width: 400px){
  .movie--selected--section{
    .movie--data--container{
      .trailer__container{
        .trailer{
          width: 18rem;
          height: 10rem;
        }
      }
    }
  }
}